html,
body,
#root {
  width: 100%;
  height: 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: auto;
}

/* Optional default layout for all pages */
.page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; /* or 'row' depending on your layout */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}
